<div class="pagetitle">
    <h1>CLIENTES</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">home</a></li>
            <li class="breadcrumb-item"><a href="clientes">clientes</a></li>
            <li class="breadcrumb-item active">nuevo</li>
        </ol>
    </nav>
</div>
<div class="card-body">
    <form (ngSubmit)="onSubmit()" #formulario="ngForm">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="clientes.nombre" name="nombre" required minlength="3"
                maxlength="20" placeholder="Digite su Nombre" #nombre="ngModel">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mt-2">
                <div *ngIf="nombre.errors?.['required']">El nombre es requerido.</div>
                <div *ngIf="nombre.errors?.['minlength'] || nombre.errors?.['maxlength']">Ingrese un nombre válido.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <input type="text" id="direccion" class="form-control" [(ngModel)]="clientes.direccion" name="direccion" required minlength="4"
                maxlength="50" placeholder="Digite la Dirección" #direccion="ngModel">
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="text-danger mt-2">
                <div *ngIf="direccion.errors?.['required']">La dirección es requerida.</div>
                <div *ngIf="direccion.errors?.['minlength'] || direccion.errors?.['maxlength']">Ingrese una dirección válida.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Número</label>
            <input type="number" id="numero" class="form-control" [(ngModel)]="clientes.numero" name="numero" required minlength="9"
                maxlength="9" pattern="^\d{8}$" placeholder="Digite su Número" #numero="ngModel">
            <div *ngIf="numero.invalid && (numero.dirty || numero.touched)" class="text-danger mt-2">
                <div *ngIf="numero.errors?.['required']">El número es requerido.</div>
                <div *ngIf="numero.errors?.['pattern']">Ingrese un número válido (9 dígitos).</div>
                <div *ngIf="numero.errors?.['minlength'] || numero.errors?.['maxlength']">Ingrese un número válido (9 dígitos).</div>
            </div>
        </div>

        <div class="form-group">
            <label>Correo</label>
            <input type="email" id="correo" class="form-control" [(ngModel)]="clientes.correo" name="correo" required
                   minlength="4" email placeholder="Digite el Correo" #correo="ngModel">
            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-danger mt-2">
              <div *ngIf="correo.errors?.['required']">El correo es requerido.</div>
              <div *ngIf="correo.errors?.['minlength'] || correo.errors?.['email']">Ingrese un correo válido.</div>
            </div>
          </div>
          

        <div class="form-group">
            <label>Tipo de Pago</label>
            <input type="text" id="tipopago" class="form-control" [(ngModel)]="clientes.tipopago" name="tipopago" required minlength="4"
                maxlength="20" placeholder="Digite el Tipo de Pago" #tipopago="ngModel">
            <div *ngIf="tipopago.invalid && (tipopago.dirty || tipopago.touched)" class="text-danger mt-2">
                <div *ngIf="tipopago.errors?.['required']">El tipo de pago es requerido.</div>
                <div *ngIf="tipopago.errors?.['minlength'] || tipopago.errors?.['maxlength']">Ingrese un tipo de pago válido.</div>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="!formulario.valid">Enviar</button>
       <a class="btn btn-danger" href="clientes" type="button"> Cancelar</a>
    </form>
</div>