<div class="pagetitle">
    <h1>ORDENES</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">home</a></li>
            <li class="breadcrumb-item"><a href="ordenes">personal</a></li>
            <li class="breadcrumb-item active">editar</li>
        </ol>
    </nav>
</div>
<div class="row">
<div class="col-md-12">
    <div class="box">
<div class="card-body">
    <form (ngSubmit)="onSubmit()" #formulario="ngForm">  
        <div class="col-sm-6">
            <div class="form-group">
              <label>Cliente</label>
              <input type="text" class="form-control" [(ngModel)]="ordenes.clientes" name="nombre"
                id="nombre"
                required
                minlength="3"
                maxlength="40"
                placeholder="Nombre del cliente"
                #nombre="ngModel">
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mt-2">
                <div *ngIf="nombre.errors?.['required']">El nombre es requerido.</div>
                <div *ngIf="nombre.errors?.['minlength'] || nombre.errors?.['maxlength']">Ingrese un nombre válido.</div>
              </div>
            </div>
          </div>

        <div class="col-sm-6">
              <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" [(ngModel)]="ordenes.fecha" name="descripcion"
                  id="descripcion"
                  required
                  placeholder="Fecha de la orden"
                  #descripcion="ngModel">
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger mt-2">
                  <div *ngIf="descripcion.errors?.['required']">La fecha es requerida.</div>
                </div>
              </div>
            </div>

        <div class="col-sm-6">
              <div class="form-group">
                <label>Platos</label>
                <input type="text" class="form-control" [(ngModel)]="ordenes.platos" name="precio"
                  id="precio"
                  required
                  minlength="5"
                  maxlength="35"
                  placeholder="Plato"
                  #precio="ngModel">
                <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="text-danger mt-2">
                  <div *ngIf="precio.errors?.['required']">El plato es requerido.</div>
                  <div *ngIf="precio.errors?.['minlength'] || precio.errors?.['maxlength']">Ingrese un nombre válido.</div>
                </div>
              </div>
            </div>

        <div class="col-sm-6">
              <div class="form-group">
                <label>Total</label>
                <input type="number" class="form-control" [(ngModel)]="ordenes.total" name="tipoplato"
                  id="tipoplato"
                  required
                  minlength="1"
                  maxlength="12"
                  placeholder="Digite el Total"
                  #tipoplato="ngModel">
                <div *ngIf="tipoplato.invalid && (tipoplato.dirty || tipoplato.touched)" class="text-danger mt-2">
                  <div *ngIf="tipoplato.errors?.['required']">El total es requerido.</div>
                  <div *ngIf="tipoplato.errors?.['minlength'] || tipoplato.errors?.['maxlength']">Ingrese un total válido.</div>
                </div>
              </div>
            </div>

        <button class="btn btn-success" [disabled]="!formulario.valid">Enviar</button>
       <a class="btn btn-danger" href="ordenes" type="button">Cancelar</a>
    </form>
</div>
    </div>
</div>
</div>