<div class="col-md-6 offset-md-3">
    <h2 class="text-center">Ingresar Nuevo Plato</h2>
    <form (ngSubmit)="onSubmit()"  #formulario="ngForm">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="platos.nombre" name="nombre"
                id="nombre"
                required
                minlength="3"
                maxlength="20"
                placeholder="Nombre del plato"
                #nombre="ngModel">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mt-2">
                <div *ngIf="nombre.errors?.['required']">El nombre es requerido.</div>
                <div *ngIf="nombre.errors?.['minlength'] || nombre.errors?.['maxlength']">Ingrese un nombre válido.</div>
            </div>
        </div>
         <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="platos.descripcion" name="descripcion"
                id="descripcion"
                required
                minlength="4"
                maxlength="50"
                placeholder="Digite la Descripción"
                #descripcion="ngModel">
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger mt-2">
                <div *ngIf="descripcion.errors?.['required']">La descripción es requerida.</div>
                <div *ngIf="descripcion.errors?.['minlength'] || descripcion.errors?.['maxlength']">Ingrese una descripción válida.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" [(ngModel)]="platos.precio" name="precio"
                id="precio"
                required
                minlength="1"
                maxlength="12"
                placeholder="Digite su precio"
                #precio="ngModel">
            <div *ngIf="precio.invalid" class="text-danger mt-2">
                <div *ngIf="precio.errors?.['required']">El precio es requerido.</div>
                <div *ngIf="precio.errors?.['minlength'] || precio.errors?.['maxlength']">Ingrese un precio válido.</div>
            </div>
        </div>
       <div class="form-group">
            <label>Tipo de Plato</label>
            <input type="text" class="form-control" [(ngModel)]="platos.tipoplato" name="tipoplato"
                id="tipoplato"
                required
                minlength="4"
                placeholder="Digite El Tipo de Plato"
                #tipoplato="ngModel">
            <div *ngIf="tipoplato.invalid && (tipoplato.dirty || tipoplato.touched)" class="text-danger mt-2">
                <div *ngIf="tipoplato.errors?.['required']">El tipo de plato es requerido.</div>
                <div *ngIf="tipoplato.errors?.['minlength']">Ingrese un tipo de plato válido.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Imagen</label>
            <input type="url" class="form-control" [(ngModel)]="platos.imagen" name="imagen"
                id="imagen"
                required
                placeholder="Imagen"
                #imagen="ngModel">
            <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="text-danger mt-2">
                <div *ngIf="imagen.errors?.['required']">La imagen es requerida.</div>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="!formulario.valid">Enviar</button>
       <a class="btn btn-danger" href="platos" type="button">Cancelar</a>
   
    </form>
</div>