server:
  port: 8888
  
spring:
  application:
    name: ms-admin-config-server
    
#Configuracion Local
  profiles:
    active: native
    
  cloud:
    config:
      server:
        native:
          search-locations: ///F:\Desarrollo de Software\5 Quinto Ciclo\Y60\DSBS-Y60\ms-gestion-config-data
      
 
      