<div class="col-md-6 offset-md-3">
    <h2 class="text-center">Ingresar Nuevo Orden</h2>
    <form (ngSubmit)="onSubmit()" #formulario="ngForm">
        <div class="form-group">
            <label >Cliente</label>
            <input type="text" class="form-control" [(ngModel)] = "ordenes.clientes" name="nombre">
            <selecet name="clientes" id="clientes" formControlName="pais" class="form-control" >
                <option value="clientes.idcliente" *ngFor="let clientes of clientes">{{clientes.nombre}}</option>
            </selecet>
        </div>
        <div class="form-group">
            <label>Fecha</label>
            <input type="date" class="form-control" [(ngModel)]="ordenes.fecha" name="fecha"
                id="fecha"
                required
                placeholder="Fecha"
                #fecha="ngModel">
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="text-danger mt-2">
                <div *ngIf="fecha.errors?.['required']">La fecha es requerida.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Plato</label>
            <input type="number" class="form-control" [(ngModel)]="ordenes.platos" name="platos" id="platos" minlength="3" placeholder="Plato" #platos="ngModel">            
            <div *ngIf="platos.invalid && (platos.dirty || platos.touched)" class="text-danger mt-2">
                <div *ngIf="platos.errors?.['required']">El plato es requerido.</div>
                <div *ngIf="platos.errors?.['minlength']">Ingrese un plato válido.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Total</label>
            <input type="number" class="form-control" [(ngModel)]="ordenes.total" name="total"
                id="total"
                required
                minlength="1"
                maxlength="10"
                placeholder="Total"
                #total="ngModel">
            <div *ngIf="total.invalid && (total.dirty || total.touched)" class="text-danger mt-2">
                <div *ngIf="total.errors?.['required']">El total es requerido.</div>
                <div *ngIf="total.errors?.['minlength'] || total.errors?.['maxlength']">Ingrese un total válido.</div>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="!formulario.valid">Registrar</button>
        <a class="btn btn-danger" href="ordenes" type="button">Cancelar</a>
    </form> 
</div>